<%= heading("Hello, " + current_user.username + "!") %>

<%= render 'shared/home_nav' %>


<div class="page-header">
	<h2><small>あなたのカード総数: </small> <%= @cards.size.to_s %></h2>
</div>

<table class="table table-striped">
<%= showCardHeader() %>
<% @cards.each do |card| %>
<%= showCard(card) %>
<% end %>
</table>